{% extends '_layout.html' %} {% block content %} {% for error in errors if
errors|length > 0 %}
<li>{{ error }}</li>
{% endfor %}

<h1>Create a Store</h1>

<!-- start Form component -->

<form action="{{ url_for('create_new_store') }}" method="POST">
  <div class="form-group">
    <label for="name">Enter new store name: </label>
    <input type="text" name="store_name" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- end Form component -->

{% endblock %}
